<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
      .dataTable-input,
      .dataTable-selector {
        border-radius: 0.75rem;
      }

      .dataTable-top,
      .dataTable-bottom {
        background-color: rgb(239, 246, 255);
      }
    </style>
  </head>
  <body class="md:px-32 p-8 bg-blue-100">
    <div
      class="flex flex-wrap justify-center md:space-x-8 space-x-2 md:space-y-0 space-y-2 my-6 -mx-6"
    >
      <div
        class="flex flex-row bg-white shadow-sm rounded-xl p-4 cursor-pointer"
        onclick="filter(this)"
      >
        <div
          class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-green-100 text-green-500"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
        <div class="flex flex-col flex-grow ml-4">
          <div class="text-sm text-blue-500">Online</div>
          <div class="font-bold text-lg">{{ stats.online}}</div>
        </div>
      </div>
      <div
        class="flex flex-row bg-white shadow-sm rounded-xl p-4 cursor-pointer"
        onclick="filter(this)"
      >
        <div
          class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-yellow-100 text-yellow-500"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
        <div class="flex flex-col flex-grow ml-4">
          <div class="text-sm text-blue-500">Redirect</div>
          <div class="font-bold text-lg">{{ stats.redirect}}</div>
        </div>
      </div>
      <div
        class="flex flex-row bg-white shadow-sm rounded-xl p-4 cursor-pointer"
        onclick="filter(this)"
      >
        <div
          class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-red-100 text-red-500"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
        <div class="flex flex-col flex-grow ml-4">
          <div class="text-sm text-blue-500">Offline</div>
          <div class="font-bold text-lg">{{ stats.offline}}</div>
        </div>
      </div>
      <div
        class="flex flex-row bg-white shadow-sm rounded-xl p-4 cursor-pointer"
        onclick="filter(this)"
      >
        <div
          class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-pink-100 text-pink-500"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
        <div class="flex flex-col flex-grow ml-4">
          <div class="text-sm text-blue-500">Invalid</div>
          <div class="font-bold text-lg">{{ stats.invalid}}</div>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="shadow overflow-hidden border-b border-blue-200 sm:rounded-lg"
          >
            <table class="min-w-full divide-y divide-blue-200" id="table">
              <thead class="bg-blue-50">
                <tr>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-blue-500 uppercase tracking-wider"
                    scope="col"
                  >
                    Stato
                  </th>

                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-blue-500 uppercase tracking-wider"
                    scope="col"
                  >
                    Link
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-blue-500 uppercase tracking-wider"
                    scope="col"
                  >
                    Posizione
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-blue-200">
                {% for url in urls %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {% if url.is_online %} bg-green-100 text-green-800 {% else %} bg-red-100 text-red-800 {% endif %}"
                    >
                      {% if url.is_online %}Online{% else %}Offline{% endif %}
                    </span>
                    {% if url.is_redirected %}
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"
                    >
                      Redirected
                    </span>
                    {% endif %} {% if not url.is_valid %}
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-pink-100 text-pink-800"
                    >
                      Invalid
                    </span>
                    {% endif %}
                  </td>

                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-blue-900">
                          <a href="{{ url.url}}" target="_blank"
                            >{{ url.url}}</a
                          >
                        </div>
                        <div class="flex items-end text-sm">
                          {%if url.is_redirected%}
                          <svg
                            class="w-6 h-6 text-blue-900 transform -rotate-180"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                            ></path>
                          </svg>

                          <span class="text-yellow-800">
                            <a
                              href="{{ url.is_redirected_to()}}"
                              target="_blank"
                              >{{ url.is_redirected_to()}}</a
                            ></span
                          >
                          {%endif%}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-blue-900">{{ url.file }}</div>
                    <div class="text-sm text-blue-500">{{ url.position}}</div>
                  </td>
                </tr>
                {% endfor %}
                <!-- More rows... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      type="text/javascript"
    ></script>
    <script>
      const dataTable = new simpleDatatables.DataTable("#table", {
        searchable: true,

        perPage: 50,
        perPageSelect: [50, 100, 150, 200],
        fixedHeight: false,
      });

      function filter(clicked) {
        item = document.getElementsByClassName("dataTable-input")[0];
        text = clicked.getElementsByClassName("text-sm")[0].innerHTML;
        item.value = text;
        item.focus();

        var evt = new CustomEvent("keyup");
        evt.which = 13;
        evt.keyCode = 13;
        item.dispatchEvent(evt); //This would trigger the event listener.
      }
    </script>
  </body>
</html>
